<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="SqlConnectionString" connectionString="Data Source=MR_ARUN\SQLEXPRESS;Initial Catalog=Pharmacy_DB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Pharmacy_Managment_Application.Properties.Settings.Pharmacy_DBConnectionString"
   connectionString="Data Source=MR_ARUN\SQLEXPRESS;Initial Catalog=Pharmacy_DB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>